{% extends "layout.html" %}

{% block heading %}
<h1>Blog!</h1>

{% endblock %}

{% block body %}
<p>
    <style>
        body {
            background-color: burlywood;
        }
    </style>
    <h3>
        The Second Liberian Civil War (1999-2003) was a brutal conflict marked by violence, displacement, and the rise of warlord Charles Taylor. The war began as a rebellion against Taylor's oppressive regime, led by the Liberians United for Reconciliation and Democracy (LURD). As the fighting intensified, another rebel group, the Movement for Democracy in Liberia (MODEL), emerged.
    
    The war devastated the country, with widespread atrocities committed by all sides. Child soldiers, some as young as eight, were forced to fight, and civilians were subjected to rape, torture, and summary executions. Millions were displaced from their homes, seeking refuge in neighboring countries or within Liberia itself.
    
    The conflict finally ended in 2003 with the intervention of international forces and the resignation of Charles Taylor. While the war officially ceased, the scars of the conflict remain, with many Liberians still struggling to rebuild their lives and recover from the trauma they endured.
    </h3>
    <h3>Author Fayemi Abraham.</h3>
    <img src="https://i.kinja-img.com/image/upload/c_fill,h_900,q_60,w_1600/7314c320e0d18e1e7216d397b1363dc3.jpg" width="700">
    <h3>Charles Taylor (born January 27, 1948, Liberia) was a Liberian politician and guerrilla leader who served as Liberia’s president from 1997 until he was forced into exile in 2003. He was widely held responsible for the country’s devastating civil war during the 1990s and for crimes committed during the civil war in neighbouring Sierra Leone.</h3>
    <img src="https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/6474/production/_98161752_taylor_afp976.jpg.webp" width="700">
    <h3>
        Taylor was the son of a judge, a member of the elite in Liberia descended from the freed American slaves who colonized the region in the early 19th century. He attended college in the United States, where in 1977 he received a degree in economics from Bentley College in Waltham, Massachusetts. He then became the director of Liberia’s General Services Administration under Pres. Samuel K. Doe, the military leader who had gained power in a bloody coup in 1980. In 1983 Doe accused Taylor of having embezzled nearly $1 million, and the following year Taylor fled to the United States, where he was jailed. Before he could be extradited, he escaped and subsequently appeared in Libya, where he formed the National Patriotic Front of Liberia (NPFL), a militia group that invaded the country in late 1989.
    
    Taylor’s forces advanced on the capital of Monrovia in 1990, but his bid for power was checked by rival groups. Doe was killed in the fighting, and for the next seven years the armed factions fought a brutal civil war in which more than 150,000 people were killed and more than half of the population became refugees. Although the NPFL never took the capital, it controlled the countryside and its rich natural resources. The fighting also spilled over into neighbouring Sierra Leone, and at one point the Economic Community of West African States attempted to intervene with peacekeeping troops. A 1996 peace pact led to elections on July 19, 1997. Critics accused Taylor of unfair tactics, including giving handouts to the largely impoverished and illiterate electorate, but he won the election with 75 percent of the votes.
    </h3>
    <h3>
        As president, Taylor restructured the army, filling it with members of his
        former militia. Conflict ensued between Taylor and the opposition, 
        and Monrovia became the scene of widespread gun battles and looting. 
        Governments around the world accused Taylor of supporting rebels in 
        Sierra Leone, and in the year 2000 the United Nations Security Council 
        imposed sanctions on Liberia. The country was subsequently 
        gripped again by civil war, and Taylor, accused of gross human rights violations, 
        was indicted by a UN-sponsored war-crimes tribunal (the Special Court for Sierra 
        Leone) in 2003. Following widespread international condemnation, 
        Taylor agreed to go into exile in Nigeria. In March 2006, however, 
        the Liberian government requested Taylor’s extradition, and Nigeria 
        announced that it would comply with the order. Taylor subsequently 
        attempted to flee Nigeria but was quickly captured. Charged with crimes 
        against humanity and war crimes committed during Sierra Leone’s civil war, 
        he was later sent to The Hague, where he was to be tried before the Special
        Court for Sierra Leone. The trial began in June 2007, despite Taylor’s refusal 
        to appear in court for the opening session.
    </h3>
    
    <h3>
        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8BpTNkhfpz-3b2N4yyX6we-uPKBgzgcx6huDiW_vN4FMszqnCiZP5oi5MD3Rf-XZ8NvpP1j0L7yzQNar-0ZDAmBOuK1-E_4s1mNWbRwbC67qalcrN1GI5-adSZLyn3A_tAmH-3ySruAU/s1600/003.JPG" width="400" alt="image">
        <span>
            The proceedings at The Hague unfolded slowly.
            The court heard the testimony of 91 witnesses called to testify against 
            Taylor before the prosecution rested its case in February 2009. 
            It was not until July 2009 that Taylor took the stand in his own defense. 
            In his testimony he denied all charges against him, 
                including conscripting child soldiers, 
                ordering amputations and other mutilations of civilians, 
                and illegally dealing in diamonds to fuel the 1990s conflict (so-called “blood diamonds”). 
            The investigation into whether Taylor had indeed trafficked in diamonds was highly publicized, 
                in part because British model Naomi Campbell was called to testify in August 2010 about a stone 
                (or a number of stones) that Taylor allegedly had given her in South Africa in 1997. 
            His trial came to a close in March 2011 as the judges adjourned to consider a verdict, 
                which was not expected for several months. 
            The verdict, which was issued on April 26, 2012, 
                found Taylor guilty on all 11 counts of bearing responsibility 
                for the war crimes and crimes against humanity committed by 
                rebel forces during Sierra Leone’s civil war, 
                because he had aided and abetted the perpetrators; 
                he was not, however, found guilty of having ordered or having instigated the crimes. 
            Taylor’s sentence, which was handed down on May 30, 2012, 
                was for 50 years in prison—effectively a life sentence for the then 64-year-old. 
            Taylor filed an appeal, but on September 26, 2013, 
                it was rejected, and his verdict and sentencing were upheld.
        </span>
        <h2>Blood Diamond</h2>
        <h3>
            <img src="https://media.cnn.com/api/v1/images/stellar/prod/120213020359-blood-diamonds-marketplace-africa.jpg?q=x_438,y_54,h_1636,w_2909,c_crop/h_653,w_1160/f_webp" width="700" alt="image">
            blood diamond, as defined by the United Nations (UN), 
            any diamond that is mined in areas controlled by forces opposed 
            to the legitimate, internationally recognized government of a country
            and that is sold to fund military action against that government.
            The very specific UN definition of blood diamonds was formulated during the 1990s, 
            when brutal civil wars were being waged in parts of western and central Africa by 
            rebel groups based in diamond-rich areas of their countries. Three specific conflicts—in 
            Angola, the Democratic Republic of the Congo, and Sierra Leone—directed world attention to the 
            destructive role of diamonds, though the problem arose in other countries as well. Rough 
            diamonds mined in rebel-controlled areas were sold directly to merchants or were smuggled into 
            neighbouring countries, where they were merged into stocks of legitimately mined diamonds and then 
            sold on the open market. Proceeds from diamond sales were used to buy arms and war matériel for the 
            rebel groups, some of which conducted extremely violent campaigns that brought great suffering to civilians.
            However, some human rights activists noted that those figures may be meaningless, 
            reflecting only the UN’s specific definition of blood diamonds as gems that fund rebellion against a country’s government. 
            Citing Zimbabwe as a specific example, observers pointed out that, even in countries certified as conflict-free, 
            it is entirely possible for officials of recognized governments to use their control over legal diamond operations to enrich themselves, 
            preserve their power, or promote their associates—often at the expense of diamond miners and other workers, 
            who can be treated with brutality and denied basic human rights. 
            Abuse of the legitimate diamond trade in Zimbabwe prompted calls to redefine blood diamonds as gems whose trade is 
            based on aggression or violence of any kind. Such a redefinition would expand the campaign against blood diamonds 
            to some diamond-rich countries where the denial of human rights is common.
        </h3>
    
    </h3>
    Click bellow to read more about story
    <li><a href="{{ url_for('register') }}">See more..</a></li>
</p>
<h2>By Fayemi Abraham</h2>
<h4>December 13th 2024</h4>
{% endblock %}