{% extends "layout.html" %}

{% block heading %}
<h1>Blog!</h1>
<h3>
    The Second Liberian Civil War (1999-2003) was a brutal conflict marked by violence, displacement, and the rise of warlord Charles Taylor. The war began as a rebellion against Taylor's oppressive regime, led by the Liberians United for Reconciliation and Democracy (LURD). As the fighting intensified, another rebel group, the Movement for Democracy in Liberia (MODEL), emerged.

The war devastated the country, with widespread atrocities committed by all sides. Child soldiers, some as young as eight, were forced to fight, and civilians were subjected to rape, torture, and summary executions. Millions were displaced from their homes, seeking refuge in neighboring countries or within Liberia itself.

The conflict finally ended in 2003 with the intervention of international forces and the resignation of Charles Taylor. While the war officially ceased, the scars of the conflict remain, with many Liberians still struggling to rebuild their lives and recover from the trauma they endured.
</h3>
<img src="https://i.kinja-img.com/image/upload/c_fill,h_900,q_60,w_1600/7314c320e0d18e1e7216d397b1363dc3.jpg" width="700">
{% endblock %}

{% block body %}
<p>
    Here you can brows whatever you want!
    <li><a href="{{ url_for('register') }}">See more..</a></li>
</p>
{% endblock %}