{% extends "layout.html" %}

{% block heading %}
<h1>Fill Your Name Here!</h1>

<style>
    body {
        background-color: honeydew;
        background-image: url('https://cdn.leonardo.ai/users/f0e7b324-3acb-4b05-9a7b-a81d458c4714/generations/88c15065-7f5a-4ce1-a8e8-813a763cbe79/Leonardo_Phoenix_10_a_highly_detailed_ultrahigh_resolution_bla_2.jpg');
    }
</style>
{% endblock %}


{% block body %}
<form action="{{ url_for('hello') }}" method="post">
    <input type="text" name="name" placeholder="Enter Your Name Here">
    <button>Submit</button>
</form>

<li><a href="{{ url_for('index') }}">previous page</a></li>
{% endblock %}