{% extends "layout.html" %}

{% block heading %}
<h1>Let's have your contact details! 
    <style>
        header {
            background-color: blue;
        }
    </style>
</h1>

<style>
    body {
        background-color: honeydew;
        background-image: url('https://cdn.leonardo.ai/users/f0e7b324-3acb-4b05-9a7b-a81d458c4714/generations/88c15065-7f5a-4ce1-a8e8-813a763cbe79/Leonardo_Phoenix_10_a_highly_detailed_ultrahigh_resolution_bla_2.jpg');
    }
</style>
{% endblock %}


{% block body %}
<div>
<form action="{{ url_for('hello') }}" method="post">
    <input type="text" name="name" placeholder="Enter Your Name Here">
</div>
    <br>
    <div>
        <input type="text" name="date" id="date" value="YY-MM-DD" placeholder="Enter Your Birth date Here">

    </div>
    <br>
    <div>
        <button>Submit</button>
    </div>
</form>

<li><a href="{{ url_for('index') }}">previous page</a></li>
{% endblock %}